In [52]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [4]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [25]:
!unzip -qq /content/drive/MyDrive/PerfectGuide_ML/dataset/train.csv.zip

In [39]:
df = pd.read_csv('train.csv',encoding='latin-1')
print('dataset shape: ', df.shape, '\n\n')
print(df.info(),'\n\n')
print(df.columns,'\n\n')
df.head(3)

dataset shape:  (76020, 371)


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 76020 entries, 0 to 76019
Columns: 371 entries, ID to TARGET
dtypes: float64(111), int64(260)
memory usage: 215.2 MB
None


Index(['ID', 'var3', 'var15', 'imp_ent_var16_ult1', 'imp_op_var39_comer_ult1',
       'imp_op_var39_comer_ult3', 'imp_op_var40_comer_ult1',
       'imp_op_var40_comer_ult3', 'imp_op_var40_efect_ult1',
       'imp_op_var40_efect_ult3',
       ...
       'saldo_medio_var33_hace2', 'saldo_medio_var33_hace3',
       'saldo_medio_var33_ult1', 'saldo_medio_var33_ult3',
       'saldo_medio_var44_hace2', 'saldo_medio_var44_hace3',
       'saldo_medio_var44_ult1', 'saldo_medio_var44_ult3', 'var38', 'TARGET'],
      dtype='object', length=371)

   ID  var3  var15  ...  saldo_medio_var44_ult3     var38  TARGET
0   1     2     23  ...                     0.0  39205.17       0
1   3     2     34  ...                     0.0  49278.03       0
2   4     2     23  ...                     0.0  67333.77       0

[3 rows x 371 columns]

In [44]:
print(df['TARGET'].value_counts())

unsatisfied_count = df[df['TARGET'] == 1]['TARGET'].count()
total_count = df['TARGET'].count()

print('\n Proportion of unsatisfied count = {0:.2f}'.format((unsatisfied_count/total_count)))

0    73012
1     3008
Name: TARGET, dtype: int64

 Proportion of unsatisfied count = 0.04